body {
    background-color: rgba(0, 255, 170, 0.674);
}

h4 {
    padding: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
}

#header-logo {
    background-image: url(afbeelding-homepage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

#header-logo h1 {
    text-align: center;
    padding-top: 250px;
}

img {
    background-image: src="afbeelding-homepage.jpg" alt="laptop-homepage";
}

p {
    background-image: url('afbeelding-homepage.jpg');
}